## Business Scenario: Analysing E-commerce Sales Data

You are a data analyst for an e-commerce company, "ShopEase." Your task is to analyse the company's sales data to understand customer behavior, sales trends, and product performance.

The dataset contains the following columns:

- <b>OrderID:</b> Unique identifier for each order.
- <b>CustomerID:</b> Unique identifier for each customer.
- <b>Product:</b> The name of the product purchased.
- <b>Category:</b> The category to which the product belongs.
- <b>Quantity:</b> The number of units purchased in that order.
- <b>Price:</b> The price per unit of the product.
- <b>OrderDate:</b> The date when the order was placed.
- <b>Country:</b> The country from which the order was placed.

## 1) Import the pandas library as pd

In [16]:
#Import pandas library
import pandas as pd

## 2) Load the Dataset
Load the dataset from a CSV file called ecommerce_sales.csv using pandas.

In [17]:
#Write your answer here...
df = pd.read_csv("ecommerce_sales.csv")

## 3) Preview the Dataset

In [18]:
#Write your answer here
df.head()

,OrderID,CustomerID,Product,Category,Quantity,Price,OrderDate,Country
0,10001,2001,Laptop,Electronics,1,1200,15/01/2024,USA
1,10002,2002,Headphones,Electronics,2,150,16/01/2024,Canada
2,10003,2001,Shirt,Clothing,3,30,17/01/2024,USA
3,10004,2003,Coffee Maker,Kitchen,1,80,18/01/2024,UK
4,10005,2004,Jacket,Clothing,1,100,19/01/2024,Canada

## 4) Generate Descriptive Statistics
Use the describe() function to generate descriptive statistics for the dataset.

In [19]:
#Write your answer here...
df.describe()

           OrderID   CustomerID   Quantity        Price
count     10.00000    10.000000  10.000000    10.000000
mean   10005.50000  2004.100000   1.800000   307.500000
std        3.02765     2.424413   1.032796   472.847462
min    10001.00000  2001.000000   1.000000    15.000000
25%    10003.25000  2002.250000   1.000000    42.500000
50%    10005.50000  2004.000000   1.500000   110.000000
75%    10007.75000  2005.750000   2.000000   150.000000
max    10010.00000  2008.000000   4.000000  1200.000000

## 5) Filtering the Dataset
Filter the dataset to show only the orders where the "Category" is "Electronics."

In [20]:
#Write your answer here...
filtered_df=df[df['Category']=='Electronics']
filtered_df

,OrderID,CustomerID,Product,Category,Quantity,Price,OrderDate,Country
0,10001,2001,Laptop,Electronics,1,1200,15/01/2024,USA
1,10002,2002,Headphones,Electronics,2,150,16/01/2024,Canada
5,10006,2005,Laptop,Electronics,1,1200,20/01/2024,USA
9,10010,2008,Headphones,Electronics,1,150,24/01/2024,USA

## 6) Filtering the Dataset using a logical Operator
Filter the dataset to show only the orders made in the USA where the price of the product is greater than 100.

In [37]:
#Write your answer here...
filtered_df2= df[(df['Country'] == 'USA') & (df['Price'] > 100)]
filtered_df2

,OrderID,CustomerID,Product,Category,Quantity,Price,OrderDate,Country,Total_Sales
0,10001,2001,Laptop,Electronics,1,1200,15/01/2024,USA,1200
5,10006,2005,Laptop,Electronics,1,1200,20/01/2024,USA,1200
9,10010,2008,Headphones,Electronics,1,150,24/01/2024,USA,150

## 7) Grouping and Aggregating Data - Total Sales by Country
- Create a new column called 'Total_Sales' by mulitplying Quantity x Price
- Group the data by the "Country" column and aggregate to find the total sales for each country.

In [22]:
#Write your answer here...
df['Total_Sales']=df['Quantity']*df['Price']
df.groupby('Country')['Total_Sales'].sum()

Country
Canada     520
UK         320
USA       2640
Name: Total_Sales, dtype: int64

## 8) Analysing Customer Sales by Country
Calculate the total sales for each customer, grouped by country, to see how much each customer has spent in different countries.

In [28]:
#Write your answer here... 
df.groupby(['Country','CustomerID'])['Total_Sales'].sum()

Country  CustomerID
Canada   2002           300
         2004           160
         2006            60
UK       2003            80
         2007           240
USA      2001          1290
         2005          1200
         2008           150
Name: Total_Sales, dtype: int64

## 9) Analysing Product Performance within Each Category
Group the data by "Category" and "Product" to calculate the total sales for each product within its respective category.

In [30]:
#Write your answer here...
df.groupby(['Category','Product'])['Total_Sales'].sum()

Category     Product
Clothing     Jacket           100
             Shirt            150
Electronics  Headphones       450
             Laptop          2400
Kitchen      Blender          240
             Coffee Maker      80
             Mug               60
Name: Total_Sales, dtype: int64

## 10) Analysing Average Price by Product Category
Group the data by "Category" and calculate the average price for each product category to understand the pricing distribution across categories.

In [33]:
#Write your answer here... 
df.groupby('Category')['Price'].mean()

Category
Clothing        53.333333
Electronics    675.000000
Kitchen         71.666667
Name: Price, dtype: float64

## What's Next?

Up next is the lesson wrap-up, where we will review everything we've learned so far about conditional statements, loops and iterations, as well as numpy and pandas.